<main class="container">
  <%= render partial: 'layouts/header', locals: { return_path: items_path } %>

  <div class="fs-3 mb-3 mt-2">
    API Token
  </div>

  <%= turbo_frame_tag 'token' do %>
    <%= render 'token', token: @token %>
  <% end %>
</main>
