<main class="container container-settings">
  <%= render partial: 'layouts/header', locals: { return_path: items_path } %>

  <h4 class="mb-3">APIトークン</h4>
  <%= turbo_frame_tag 'token', src: token_path %>
</main>
