<main class="container container-session mt-5">
  <% if flash.alert.present? %>
    <div class="rounded-3 mb-2 py-2 px-3 border border-danger text-danger">
      <%= flash.alert %>
    </div>
  <% end %>

  <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post,
                                                            class: 'btn btn-primary w-100',
                                                            form_class: 'text-center',
                                                            data: { turbo: false } do %>
    <i class="bi bi-google me-2"></i>Google でログイン
  <% end %>
</main>
