<main class="container">
  <%= render partial: 'layouts/header', locals: { return_path: items_path } %>

  <div class="fs-3 ps-2 mb-3 mt-2">
    編集
  </div>

  <%= turbo_frame_tag @item do %>
    <%= render "form", item: @item %>
  <% end %>
</main>
