<main class="container">
  <%= render partial: 'layouts/header', locals: { return_path: items_path } %>

  <div class="text-lg mb-3 mt-2">
    Edit
  </div>

  <%= turbo_frame_tag @item do %>
    <%= render 'form', item: @item %>
  <% end %>
</main>
