<main class="container">
  <%= link_to items_path, class: 'btn btn-link' do %>
    <i class="bi bi-arrow-left"></i>
    戻る
  <% end %>

  <div class="fs-3 ps-2 mb-3 mt-2">
    追加
  </div>

  <%= turbo_frame_tag Item.new do %>
    <%= render "form", item: @item %>
  <% end %>
</main>
