<main class="container">
  <%= render partial: 'layouts/header', locals: { return_path: items_path } %>

  <div class="text-lg mb-3 mt-2">
    Add
  </div>

  <%= turbo_frame_tag Item.new do %>
    <%= render 'form', item: @item %>
  <% end %>
</main>
