/* Application styles */
.field_with_errors input[type="text"] {
  border-color: rgb(var(--color-md-error));
}
.field_with_errors input[type="text"]:focus {
  box-shadow: none;
}
@media (prefers-color-scheme: dark) {
  .field_with_errors input[type="text"] {
    border-color: rgb(var(--color-md-dark-error));
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
