<header class="navbar">
  <div class="navbar__brand">
    Shopping List
  </div>
  <div class="navbar__name">
    User
  </div>

  <%# <% if user_signed_in? %1> %>
  <%#   <div class="navbar__brand"> %>
  <%#     <%= current_company.name %1> %>
  <%#   </div> %>
  <%#   <div class="navbar__name"> %>
  <%#     <%= current_user.name %1> %>
  <%#   </div> %>
  <%#   <%= button_to "Sign out", %>
  <%#                 destroy_user_session_path, %>
  <%#                 method: :delete, %>
  <%#                 class: "btn btn--dark" %1> %>
  <%# <% else %1> %>
  <%#   <%= link_to "Sign in", %>
  <%#               new_user_session_path, %>
  <%#               class: "btn btn--dark navbar__right" %1> %>
  <%# <% end %1> %>
</header>
